<h1>
<%= @grammar_point.pattern %>
</h1>
<p>
<%= @grammar_point.eng %>
<%= ' (' + @grammar_point.level.to_s + ' ' + @grammar_point.to_path.to_s  + ') '%>
<%= link_to "GrammarWiki page", @grammar_point.link %>
</p>
<%= render 'examples', verbose: false %>
