	<div class="row"> 
		<div class="well"> 
			<p>Write the pinyin for this word</p>
			<h1><%= @word.han %></h1>
		</div>
	</div> 
	<div class="row"> 
		<%= form_for(@word, url: check_url(id: @word.id)) do |f| %>
			<div class="field">
				<%= label_tag 'pinyin' %>
				<%= text_field_tag :answer %>
				<%= submit_tag 'Check' %>
			</div>
		<% end %>
	</div> 
	<div class="row"> 
		<% flash.each do |name, msg| %>
			<div class="row"> 
				<div class="alert fade-in alert-<%= name %>">
					<%= msg %>
					<a href="#" data-dismiss="alert" class="close">&times</a>
				</div>
			</div>
		<% end %>
	</div> 
