<table class="table">
  <thead>
    <tr>
      <th>Hanzi</th>
      <th>Pinyin</th>
      <th>Meaning</th>
      <th>HSK Level</th>
      <th>Success Rate</th>
    </tr>
  </thead>

  <tbody>
    <% @words.each do |word| %>
      <tr>
        <td><%= word.han %></td>
        <td><%= word.pinyin %></td>
        <td><%= word.meaning %></td>
        <td><%= word.level %></td>
        <td style="color:<%=ApplicationController.helpers.gradient(word.success_rate)%>"><%= word.success_rate.to_f.round(2) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
