<header class="navbar">
<div class="navbar-inner">
	<div class="container">
		<nav>
		<ul class="nav navbar-nav">
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "Grammar tree", grammar_tree_A1_path %></li>
			<li><%= link_to "Grammar points", grammar_points_path %></li>
			<li><%= link_to "Flashcards", flashcards_path %></li>
			<li><%= link_to "Network", network_path %></li>
		</ul>
		</nav>
	</div>
</div>
</header>
